In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [39]:
pd.set_option('max_columns', None)
pokemon = pd.read_csv("Pokemon.csv",index_col=0)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [40]:
pokemon1 = pokemon.set_index(["Type 1","Type 2"]) 
pokemon1

                                      Name  Total   HP  Attack  Defense  \
Type 1   Type 2
Grass    Poison                  Bulbasaur    318   45      49       49
         Poison                    Ivysaur    405   60      62       63
         Poison                   Venusaur    525   80      82       83
         Poison      VenusaurMega Venusaur    625   80     100      123
Fire     NaN                    Charmander    309   39      52       43
         NaN                    Charmeleon    405   58      64       58
         Flying                  Charizard    534   78      84       78
         Dragon  CharizardMega Charizard X    634   78     130      111
         Flying  CharizardMega Charizard Y    634   78     104       78
Water    NaN                      Squirtle    314   44      48       65
         NaN                     Wartortle    405   59      63       80
         NaN                     Blastoise    530   79      83      100
         NaN       BlastoiseMega Blastoise    630   79     103      120
Bug      NaN                      Caterpie    195   45      30       35
         NaN                       Metapod    205   50      20       55
         Flying                 Butterfree    395   60      45       50
         Poison                     Weedle    195   40      35       30
         Poison                     Kakuna    205   45      25       50
         Poison                   Beedrill    395   65      90       40
         Poison      BeedrillMega Beedrill    495   65     150       40
Normal   Flying                     Pidgey    251   40      45       40
         Flying                  Pidgeotto    349   63      60       55
         Flying                    Pidgeot    479   83      80       75
         Flying        PidgeotMega Pidgeot    579   83      80       80
         NaN                       Rattata    253   30      56       35
         NaN                      Raticate    413   55      81       60
         Flying                    Spearow    262   40      60       30
         Flying                     Fearow    442   65      90       65
Poison   NaN                         Ekans    288   35      60       44
         NaN                         Arbok    438   60      85       69
...                                    ...    ...  ...     ...      ...
Fairy    NaN                       Sylveon    525   95      65       65
Fighting Flying                   Hawlucha    500   78      92       75
Electric Fairy                     Dedenne    431   67      58       57
Rock     Fairy                     Carbink    500   50      50      150
Dragon   NaN                         Goomy    300   45      50       35
         NaN                       Sliggoo    452   68      75       53
         NaN                        Goodra    600   90     100       70
Steel    Fairy                      Klefki    470   57      80       91
Ghost    Grass                    Phantump    309   43      70       48
         Grass                   Trevenant    474   85     110       76
         Grass       PumpkabooAverage Size    335   49      66       70
         Grass         PumpkabooSmall Size    335   44      66       70
         Grass         PumpkabooLarge Size    335   54      66       70
         Grass         PumpkabooSuper Size    335   59      66       70
         Grass       GourgeistAverage Size    494   65      90      122
         Grass         GourgeistSmall Size    494   55      85      122
         Grass         GourgeistLarge Size    494   75      95      122
         Grass         GourgeistSuper Size    494   85     100      122
Ice      NaN                      Bergmite    304   55      69       85
         NaN                       Avalugg    514   95     117      184
Flying   Dragon                     Noibat    245   40      30       35
         Dragon                    Noivern    535   85      70       80
Fairy    NaN                       Xerneas    680  126     131       95
Dark     Flying                    Yveltal    680  126     131       95
Dragon   Ground           Zygarde50% Forme    600  108     100      121
Rock     Fairy                     Diancie    600   50     100      150
         Fairy         DiancieMega Diancie    700   50     160      110
Psychic  Ghost         HoopaHoopa Confined    600   80     110       60
         Dark           HoopaHoopa Unbound    680   80     160       60
Fire     Water                   Volcanion    600   80     110      120

                 Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1   Type 2
Grass    Poison       65       65     45           1      False
         Poison       80       80     60           1      False
         Poison      100      100     80           1      False
         Poison      122      120     80           1      False
Fire     NaN          60       50     65           1      False
         NaN          80       65     80           1      False
         Flying      109       85    100           1      False
         Dragon      130       85    100           1      False
         Flying      159      115    100           1      False
Water    NaN          50       64     43           1      False
         NaN          65       80     58           1      False
         NaN          85      105     78           1      False
         NaN         135      115     78           1      False
Bug      NaN          20       20     45           1      False
         NaN          25       25     30           1      False
         Flying       90       80     70           1      False
         Poison       20       20     50           1      False
         Poison       25       25     35           1      False
         Poison       45       80     75           1      False
         Poison       15       80    145           1      False
Normal   Flying       35       35     56           1      False
         Flying       50       50     71           1      False
         Flying       70       70    101           1      False
         Flying      135       80    121           1      False
         NaN          25       35     72           1      False
         NaN          50       70     97           1      False
         Flying       31       31     70           1      False
         Flying       61       61    100           1      False
Poison   NaN          40       54     55           1      False
         NaN          65       79     80           1      False
...                  ...      ...    ...         ...        ...
Fairy    NaN         110      130     60           6      False
Fighting Flying       74       63    118           6      False
Electric Fairy        81       67    101           6      False
Rock     Fairy        50      150     50           6      False
Dragon   NaN          55       75     40           6      False
         NaN          83      113     60           6      False
         NaN         110      150     80           6      False
Steel    Fairy        80       87     75           6      False
Ghost    Grass        50       60     38           6      False
         Grass        65       82     56           6      False
         Grass        44       55     51           6      False
         Grass        44       55     56           6      False
         Grass        44       55     46           6      False
         Grass        44       55     41           6      False
         Grass        58       75     84           6      False
         Grass        58       75     99           6      False
         Grass        58       75     69           6      False
         Grass        58       75     54           6      False
Ice      NaN          32       35     28           6      False
         NaN          44       46     28           6      False
Flying   Dragon       45       40     55           6      False
         Dragon       97       80    123           6      False
Fairy    NaN         131       98     99           6       True
Dark     Flying      131       98     99           6       True
Dragon   Ground       81       95     95           6       True
Rock     Fairy       100      150     50           6       True
         Fairy       160      110    110           6       True
Psychic  Ghost       150      130     70           6       True
         Dark        170      130     80           6       True
Fire     Water       130       90     70           6       True

[800 rows x 10 columns]

In [9]:
data = pokemon.head()
date_list = ["1992-01-10","1992-02-10","1992-03-10","1993-03-15","1993-03-16"]
datetime_object = pd.to_datetime(date_list)
data["date"] = datetime_object
data= data.set_index("date")
data

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
date,,,,,,,,,,,,
1992-01-10,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1992-02-10,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
1992-03-10,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1993-03-15,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
1993-03-16,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [41]:
dic = {"treatment":["A","A","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
df = pd.DataFrame(dic)
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [42]:
df1 = df.set_index(["treatment","gender"])
df1

                  response  age
treatment gender
A         F             10   15
          M             45    4
B         F              5   72
          M              9   65

In [43]:
df1.unstack(level=0)

          response    age
treatment        A  B   A   B
gender
F               10  5  15  72
M               45  9   4  65

In [44]:
df1.unstack(level=1)

          response     age
gender           F   M   F   M
treatment
A               10  45  15   4
B                5   9  72  65

In [45]:
df1.swaplevel(0,1)

                  response  age
gender treatment
F      A                10   15
M      A                45    4
F      B                 5   72
M      B                 9   65